<form [formGroup]="fg" (ngSubmit)="sendEmail()" >
<div class="card">
    <p class="lock-icon"><i class="fas fa-lock"></i></p>
    <h2>Forgot Password?</h2>
    <p>You can reset your Password here</p>
    <input type="text"
    [ngClass]="{'validation_text_error':fg.controls['email'].invalid && fg.controls['email'].touched}" 
    class="passInput"  placeholder="Email address" formControlName="email" >
    <span [ngClass]="'validation-error'"> {{kmErrorMessage('email',fg)}}</span><br>
    <button [disabled]="fg.controls['email'].invalid && fg.controls['email'].touched" >Send My Password</button> 
</div>

</form>
