<header id="header">
  <h1>About</h1>
  <a routerLink="signup" routerLinkActive="active-link">First Time Here ,sign Up </a><br><br>
  <a href="#menu">Menu</a> 
</header>

<!-- Nav -->
<nav class="d-flex">
  <ul>
    <li id="signin">
      <a routerLink="signin" routerLinkActive="active-link">Sign-In</a>
    </li>
      <li id="signout">
      <a routerLink="signout" routerLinkActive="active-link">Sign-Out</a>
    </li>
    <li id="admin">
      <a routerLink="admin" routerLinkActive="active-link">Admin</a>
    </li>
    <li id="buyer">
      <a routerLink="buyer" routerLinkActive="active-link">Buyer</a>
    </li>
    <li id="seller">
      <a routerLink="seller" routerLinkActive="active-link">Seller</a>
    </li>
  </ul>
</nav>

<section id="banner" data-video="images/banner">
 ...
</section>

<!-- Main -->
<div id="main">

  <!-- One -->
  <section class="wrapper style1">
    ...
  </section>

</div>

<!-- Footer -->
<footer id="footer">
  ...
</footer>
<router-outlet></router-outlet>