<form  [formGroup]="fg" (ngSubmit)="login()">
    <!-- <div class="imgcontainer">
      <img src="../../../favicon.ico" alt="Avatar" class="avatar">
    </div> -->
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" formControlName="uname"  >
      <span> {{kmErrorMessage('uname',fg)}}</span><br>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" formControlName="psw" required>
      <span>{{kmErrorMessage('psw',fg)}}</span>
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" formControlName="remember"> Remember me
      </label>
     
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn" (click)="Cancel()" >Cancel</button>
      <span class="psw">Forgot <a href="forgetpassword" (click)="ForgetPassword()">password?</a></span>
    </div>
  </form>