<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="home">
        <a class="nav-link" routerLink="/" >Home</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item" id="signin">
        <a class="nav-link" routerLink="signin">Sign-In</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item" id="signup">
        <a class="nav-link" routerLink="signup" routerLinkActive="active-link">signup</a>
      </li>
       <li *ngIf="isLoggedIn" class="nav-item" id="signout">
        <a class="nav-link" routerLink="signout" routerLinkActive="active-link">Sign-Out</a>
      </li>
      <ng-container *ngIf="isLoggedIn && userRole=='admin'">
            <li  class="nav-item" id="admin">
              <a class="nav-link" routerLink="admin" routerLinkActive="active-link">Admin</a>
            </li>
            <li *ngIf="isLoggedIn && userRole=='admin'" class="nav-item" id="adminseller">
              <a class="nav-link" routerLink="admin/seller" routerLinkActive="active-link">Seller</a>
            </li>
      </ng-container>
      <ng-container *ngIf="isLoggedIn && userRole=='buyer'">
        <li id="buyer">
          <a class="nav-link" routerLink="buyer" routerLinkActive="active-link">Buyer</a>
        </li>
      </ng-container>
     
      <ng-container *ngIf="isLoggedIn && userRole=='seller'">
        <li id="seller">
          <a class="nav-link" routerLink="seller" routerLinkActive="active-link">Seller</a>
        </li>
      </ng-container>
    </ul>
    <div class="dropdown" dropdown>
      <span class="mr-1">
          <img src="" alt="">
        </span>
    <a class="dropdown-toggle text-light" dropdownToggle>
      Welcome User | titlecase }}
    </a>

    <div class="dropdown-menu mt-3" *dropdownMenu>
      <a class="dropdown-item" [routerLink]="['/user/edit']"
        ><i class="fa fa-user"></i> Edit Profile</a
      >
      <div class="dropdown-item"></div>
      <a class="dropdown-item" (click)="logout()"
        ><i class="fa fa-sign-out"></i> Logout</a
      >
    </div>
  </div>
  </div>
  
  </nav>